In [275]:
import sqlalchemy as db
from faker import Faker
from faker_food import FoodProvider
import random as random
import pandas as pd

In [276]:
faker= Faker()
faker.add_provider(FoodProvider)

In [277]:
faker.name()

'Javier Harvey'

In [278]:
list_pays=[]
for i in range(100):
   list_pays.append(faker.country())
print(list_pays)

['Aruba', 'Cyprus', 'Tokelau', 'Turkey', 'Turks and Caicos Islands', 'Japan', 'Chad', 'Cyprus', 'Sweden', 'India', 'Antarctica (the territory South of 60 deg S)', 'Seychelles', 'Venezuela', 'Taiwan', 'Denmark', 'Marshall Islands', 'Guam', 'Libyan Arab Jamahiriya', 'Israel', 'British Indian Ocean Territory (Chagos Archipelago)', 'Mexico', 'Namibia', 'Morocco', 'Guinea-Bissau', 'New Caledonia', 'Poland', 'Bangladesh', 'Australia', 'Montenegro', 'Canada', 'Tokelau', 'Togo', 'Gabon', 'Antarctica (the territory South of 60 deg S)', 'Saint Vincent and the Grenadines', 'Timor-Leste', 'Ireland', 'Russian Federation', 'Sudan', 'Honduras', 'Gambia', 'Saint Martin', 'Saint Lucia', 'Tokelau', 'Dominican Republic', 'Cayman Islands', 'Heard Island and McDonald Islands', 'Liberia', 'Venezuela', 'South Georgia and the South Sandwich Islands', 'South Africa', 'Western Sahara', 'United States of America', 'United States Minor Outlying Islands', 'Guatemala', 'India', 'Uganda', 'Dominican Republic', 'Chile', 'Reunion', 'Haiti', 'Niue', 'Vanuatu', 'Bermuda', 'El Salvador', 'Turkmenistan', 'India', 'Angola', 'Togo', 'Bouvet Island (Bouvetoya)', 'Zimbabwe', 'Guatemala', 'Germany', 'Antarctica (the territory South of 60 deg S)', 'Antarctica (the territory South of 60 deg S)', 'Ukraine', 'Palau', 'Benin', 'Guatemala', 'Algeria', 'Thailand', 'Kenya', 'Botswana', 'Montserrat', 'Albania', 'South Africa', 'United States Virgin Islands', 'Australia', 'Tonga', 'Cuba', 'Macedonia', 'New Caledonia', 'Chad', 'Pitcairn Islands', 'Macao', 'Palestinian Territory', 'Tunisia', 'Costa Rica', 'Costa Rica', 'Guinea']

In [279]:
faker.address()

'197 Carter Ramp Apt. 084\nJonesborough, ME 79757'

In [280]:
faker.text()

'Affect but little direction follow.'

In [281]:
#fake.dish()
#fake.fruit()
#fake.spice()
#fake.vegetable()
#fake.ingredient()

In [282]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = db.create_engine("sqlite:///restaurant.db")

In [283]:
connection = engine.connect()
metadata = db.MetaData()

In [284]:


ingredient_table = db.Table('Ingredient', metadata,
              db.Column('nom_ingredient', db.String(), primary_key=True),
              db.Column('prix_achat', db.Float(), default=0.0),
              )

In [285]:


pays_table = db.Table('Pays', metadata,
              db.Column('pays', db.String(), primary_key=True),
              )

In [286]:


restaurant_table = db.Table('Restaurant', metadata,
              db.Column('code_postal', db.String(), primary_key=True),
              db.Column('parking', db.Integer(),nullable=False),
              db.Column('espace_enfant', db.Integer(),default=0),
              db.Column('pmr', db.Integer(),default=0),
              db.Column('borne', db.Integer(),default=0),
              db.Column('capacite', db.Integer(),default=0),
              db.Column('pays', db.String(), db.ForeignKey("Pays.pays"),nullable=False),
              )

In [287]:


stock_table = db.Table('Stock', metadata,
              db.Column('id_stock', db.Integer(),primary_key=True),
              db.Column('nom_ingredient', db.String(),db.ForeignKey("Ingredient.nom_ingredient"),nullable=False),
              db.Column('code_postal', db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
              db.Column('quantite', db.Integer(),default=0),
              )

In [288]:


item_table = db.Table('Item', metadata,
              db.Column('nom_item', db.String(),primary_key=True),
              db.Column('type', db.String(),nullable=False),
              db.Column('prix', db.Float(),default=0.00),
              )

In [289]:

carte_item_table = db.Table('CarteItem', metadata,
              db.Column('id_carte_item', db.Integer(),primary_key=True),
              db.Column('nom_item', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
              db.Column('pays', db.String(),db.ForeignKey("Pays.pays"),nullable=False),
              )

In [290]:
employes_table= db.Table ('Employes', metadata,
            db.Column('id_employes',db.Integer(),primary_key=True),
            db.Column('nom',db.String(),nullable=False),
            db.Column('role',db.String(),nullable=False),
            db.Column('id_superieur',db.Integer(),db.ForeignKey("Employes.id_employes")),
            db.Column('anciennete',db.Integer(),default=0),
            db.Column('compte_bancaire',db.Integer()),
            db.Column('note',db.Integer()),
            db.Column('adresse',db.String()),
            db.Column('code_postal',db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
            )

In [291]:
bulletin_paye_table = db.Table('BulletinPaye', metadata,
              db.Column('id_employes', db.Integer(),db.ForeignKey("Employes.id_employes"),primary_key=True),
              db.Column('date', db.String(),primary_key=True,nullable=False),
              db.Column('salaire', db.Float(),nullable=False),
               db.Column('poste', db.String(),nullable=False),
              )

In [292]:
recette_table = db.Table('Recette', metadata,
        db.Column('id_recette', db.Integer(),primary_key=True),
        db.Column('nom_item', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('nom_ingredient', db.String(),db.ForeignKey("Ingredient.nom_ingredient"),nullable=False),
        db.Column('quantite_ingredient', db.Integer(),default=0)
        )

In [293]:
menu_table = db.Table('Menu', metadata,
        db.Column('nom_menu', db.String(),primary_key=True),
        db.Column('plat', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('dessert', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('boisson', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('prix', db.Integer(),default=0.00)
        )

In [294]:
carte_menu_table = db.Table('CarteMenu', metadata,
              db.Column('id_carte_menu', db.Integer(),primary_key=True),
              db.Column('nom_menu', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
              db.Column('pays', db.String(),db.ForeignKey("Pays.pays"),nullable=False),
              )

In [295]:
addition_table = db.Table('Addition', metadata,
              db.Column('id_ticket', db.Integer(),primary_key=True),
              db.Column('heure', db.Integer(),nullable=False),
              db.Column('code_postal', db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
              db.Column('id_employes', db.String(),db.ForeignKey("Employes.id_employes"),nullable=False),
              db.Column('somme', db.REAL(),default=0),
              db.Column('moyen_paiment', db.String(),nullable=False),
              )

In [296]:
panier_item_table = db.Table('PanierItem', metadata,
              db.Column('id_ticket', db.Integer(),db.ForeignKey("Addition.id_ticket"),primary_key=True),
              db.Column('nom_item', db.Integer(),db.ForeignKey("Item.nom_item"),primary_key=True),
              db.Column('quantite_item', db.Integer(),default=0),
              )

In [297]:
panier_menu_table = db.Table('PanierMenu', metadata,
              db.Column('id_panier_menu', db.Integer(), primary_key=True),
              db.Column('id_ticket', db.Integer(),db.ForeignKey("Addition.id_ticket"),nullable=False),
              db.Column('nom_menu', db.Integer(),db.ForeignKey("Menu.nom_menu"),nullable=False),
              db.Column('quantite_menu', db.Integer(),default=0),
              )

In [298]:
metadata.create_all(engine)

In [299]:
list_pays=[]
with engine.begin() as connection:
    for _ in range(10):
      insert_stmt = pays_table.insert().values(
        pays= faker.country(),
       )
      connection.execute(insert_stmt)

In [300]:
with engine.begin() as connection:
  pays_pk = connection.execute(db.select([pays_table.c.pays])).fetchall()

with engine.begin() as connection:
     for i in range(50):
       aleatoire=random.randint(0,len(pays_pk)-1)
       insert_stmt = restaurant_table.insert().values(
         code_postal= random.randint(10000,99999),
         capacite= random.randint(30,100),
         parking= random.randint(0,1),
         espace_enfant= random.randint(0,1),
         pmr=random.randint(0,1),
         borne=random.randint(0,1),
         pays=pays_pk[aleatoire][0],
        )
       connection.execute(insert_stmt)

In [301]:
print(pays_pk)
print(random.choice(pays_pk))
print(pays_pk[1])
print(pays_pk[1][0])
print(pays_pk[aleatoire][0])
print()

[('Gambia',), ('Niger',), ('American Samoa',), ('Tajikistan',), ('Jordan',), ('Anguilla',), ('Cape Verde',), ('El Salvador',), ('Namibia',), ('Ireland',)]
('El Salvador',)
('Niger',)
Niger
Anguilla

In [302]:
List_role=['manager','director','caissier','cuisinier']
List_employes=[]
for i in range(26):
    if i==0:
        List_employes.append(List_role[1])
    if i>0 and i<=3:
        List_employes.append(List_role[0])
    if i>4 and i<=17:
        List_employes.append(List_role[3])
    if i>16 :
        List_employes.append(List_role[2])
     
print(List_employes)

['director', 'manager', 'manager', 'manager', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier']

In [303]:
## integration fake donnée dans la table employe
with engine.begin() as connection:
    #employe = metadata.tables["Employes"]
    codepostal_pk= connection.execute(db.select([restaurant_table.c.code_postal])).fetchall()

with engine.begin() as conn:
    for _ in range(50):
        insert_stmt = employes_table.insert().values(
            
            code_postal=random.choice(codepostal_pk)[0],
            role="Directeur",
            anciennete=faker.random_int(0,20),
            nom=faker.name(),
            adresse=faker.address(),
            )

        conn.execute(insert_stmt)

with engine.begin() as connection:
    dir_id=connection.execute(db.select([employes_table.c.id_employes])).fetchall()


with engine.begin() as conn:
    for _ in range(150):
        insert_stmt = employes_table.insert().values(
         
            id_superieur=random.choice(dir_id)[0],
            code_postal=random.choice(codepostal_pk)[0],
            role="Manager",
            anciennete=faker.random_int(0,20),
            nom=faker.name(),
            adresse=faker.address(),
            note=faker.random_int(0,10)
            )

        conn.execute(insert_stmt)

with engine.begin() as connection:
    manager_id=connection.execute(db.select([employes_table.c.id_employes]).where(employes_table.c.role == "Manager")).fetchall()
    role_employes = ["cuisinier","caissiere"]

with engine.begin() as conn:
    for _ in range(1500):
        insert_stmt = employes_table.insert().values(
            
            id_superieur=random.choice(manager_id)[0],
            code_postal=random.choice(codepostal_pk)[0],
            role=random.choice(role_employes),
            anciennete=faker.random_int(0,20),
            nom=faker.name(),
            adresse=faker.address(),
            note=faker.random_int(0,10)
            )

        conn.execute(insert_stmt)

In [304]:
# with engine.begin() as connection:
#     for i in range(26):
#       insert_stmt = bulletin_paye_table.insert().values(
#         id_employes= i,
#         date= faker.date(),
#         salaire=randint(1200,2500),
#         poste =List_employes[i],
       
#        )
#       connection.execute(insert_stmt)

In [305]:
# with engine.begin() as connection:
#     for i in range(26):
#       insert_stmt = bulletin_paye_table.insert().values(
#         id_employes= i,
#         date= faker.date(),
#         salaire=randint(1200,2500),
#         poste =List_employes[i],
       
#        )
#       connection.execute(insert_stmt)

In [306]:
type_liste = ["boisson", "dessert", "plat"]
with engine.begin() as connection:
    for _ in range(30):
      insert_stmt = item_table.insert().values(
        nom_item = faker.unique.dish(),
        type = random.choice(type_liste),
        prix = round(random.uniform(2, 10),2),

      )
      connection.execute(insert_stmt)

In [307]:
with engine.begin() as connection:
    for _ in range(40):
      insert_stmt = ingredient_table.insert().values(
          nom_ingredient = faker.unique.ingredient(),
          prix_achat = round(random.uniform(0.2,8),2)

      )
      connection.execute(insert_stmt)

In [308]:
with engine.begin() as connection:
    item_pk = connection.execute(db.select([item_table.c.nom_item])).fetchall()

with engine.begin() as connection:
    ingredient_pk = connection.execute(db.select([ingredient_table.c.nom_ingredient])).fetchall()


with engine.begin() as connection:
    for i in range(len(item_pk)):
        ingredient_selectionne = []
        for nb_ingredient in range(random.randrange(1,6)):
            ingre = random.choice([ing for ing in ingredient_pk if ing not in ingredient_selectionne])[0]
            insert_stmt = recette_table.insert().values(
                
                nom_item = item_pk[i][0],
                nom_ingredient = ingre,
                
                quantite_ingredient = random.randrange(1,5),
            )
            ingredient_selectionne.append(ingre)
            
            connection.execute(insert_stmt)

In [309]:
with engine.begin() as connection:
    item_plat_pk = connection.execute(db.select([item_table.c.nom_item]).where(item_table.c.type=="plat")).fetchall()
with engine.begin() as connection:
    item_dessert_pk = connection.execute(db.select([item_table.c.nom_item]).where(item_table.c.type =="dessert")).fetchall()
with engine.begin() as connection:
    item_boisson_pk = connection.execute(db.select([item_table.c.nom_item]).where(item_table.c.type=="boisson")).fetchall()

with engine.begin() as connection:
    for _ in range(15):
      insert_stmt = menu_table.insert().values(
          nom_menu = faker.unique.company(),
          plat = random.choice(item_plat_pk)[0],
          dessert = random.choice(item_dessert_pk)[0],
          boisson = random.choice(item_boisson_pk)[0],
          prix = round(random.uniform(8,15),2)

      )
      connection.execute(insert_stmt)

In [310]:



with engine.begin() as connection:
    for i in range(len(pays_pk)):
        item_selectionne = []
        for nb_selectionne in range(random.randrange(10,15)):
            itemm = random.choice([it for it in item_pk if it not in item_selectionne])[0]
            insert_stmt = carte_item_table.insert().values(
                
                pays= pays_pk[i][0],
                nom_item = itemm,
               
            )
            item_selectionne.append(itemm)
            
            connection.execute(insert_stmt)

In [311]:
with engine.begin() as connection:
    menu_pk = connection.execute(db.select([menu_table.c.nom_menu])).fetchall()
with engine.begin() as connection:
    for i in range(len(pays_pk)):
        menu_selectionne = []
        for nb_selectionne in range(random.randrange(5,10)):
            menuu = random.choice([me for me in menu_pk if me not in menu_selectionne])[0]
            insert_stmt = carte_menu_table.insert().values(
                
                pays= pays_pk[i][0],
                nom_menu = menuu,
               
            )
            menu_selectionne.append(menuu)
            
            connection.execute(insert_stmt)

In [312]:
with engine.begin() as connection:
    ingredient_pk = connection.execute(db.select([ingredient_table.c.nom_ingredient])).fetchall()
with engine.begin() as connection:
    codepostal_pk = connection.execute(db.select([restaurant_table.c.code_postal])).fetchall()


with engine.begin() as connection:
    for i in range(len(codepostal_pk)):
        ingredient_selectionne = []
        for nb_ingredient in range(random.randrange(10,20)):
            ingre = random.choice([ing for ing in ingredient_pk if ing not in ingredient_selectionne])[0]
            insert_stmt = stock_table.insert().values(
                
                code_postal= codepostal_pk[i][0],
                nom_ingredient = ingre,
                
                quantite= random.randrange(1,15),
            )
            ingredient_selectionne.append(ingre)
            
            connection.execute(insert_stmt)

In [313]:
paiment=['carte_bancaire','espece','cheque']

with engine.begin() as connection:
 #codepostal_pk= connection.execute(db.select([restaurant_table.c.code_postal])).fetchall()
 id_employes_pk= connection.execute(db.select([employes_table.c.id_employes])).fetchall()

with engine.begin() as connection:
    for i in range(len(id_employes_pk)):
      insert_stmt = addition_table.insert().values(
        heure= faker.date(),
        code_postal=random.choice(codepostal_pk)[0],#random.randint(10000,99999),#random.choice(codepostal_pk)[0],
        id_employes = random.choice(id_employes_pk)[0],
        somme = random.randint(8,35),
        moyen_paiment= random.choice(paiment),

       )
      connection.execute(insert_stmt)

In [314]:
with engine.begin() as connection:
    id_employes_pk= connection.execute(db.select([employes_table.c.id_employes])).fetchall()
    poste_pk=connection.execute(db.select([employes_table.c.role])).fetchall()


with engine.begin() as connection:
    for i in range(len(id_employes_pk)):
      insert_stmt = bulletin_paye_table.insert().values(
        id_employes= random.choice(id_employes_pk)[0],
        date= faker.date(),
        salaire=random.randint(1200,2500),
        poste = random.choice(poste_pk)[0],

       )
      connection.execute(insert_stmt)

In [315]:
with engine.begin() as connection:
    idticket_pk = connection.execute(db.select([addition_table.c.id_ticket])).fetchall()

with engine.begin() as connection:
    for i in range(len(codepostal_pk)):
        ingredient_selectionne = []
        for nb_ingredient in range(random.randrange(10,20)):
            ingre = random.choice([ing for ing in ingredient_pk if ing not in ingredient_selectionne])[0]
            insert_stmt = stock_table.insert().values(
                
                code_postal= codepostal_pk[i][0],
                nom_ingredient = ingre,
                
                quantite= random.randrange(1,15),
            )
            ingredient_selectionne.append(ingre)
            
            connection.execute(insert_stmt)

In [316]:



with engine.begin() as conn:
    for i in range(len(idticket_pk)):
        item_selectionne_list = []
        for _ in range(random.randrange(1,10)):
            selected_item = random.choice([e for e in item_pk if e[0] not in item_selectionne_list])[0]
            item_selectionne_list.append(selected_item)
            insert_stmt = panier_item_table.insert().values(
                id_ticket = idticket_pk[i][0],
                nom_item = selected_item,
                quantite_item = faker.pyint(0,10)
            )
            conn.execute(insert_stmt)

In [317]:


with engine.begin() as conn:
    for i in range(len(idticket_pk)):
        menu_selectionne_list = []
        for _ in range(random.randrange(1,10)):
            selected_menu = random.choice([e for e in menu_pk if e[0] not in menu_selectionne_list])[0]
            menu_selectionne_list.append(selected_menu)
            insert_stmt = panier_menu_table.insert().values(
                id_ticket = idticket_pk[i][0],
                nom_menu = selected_item,
                quantite_menu = faker.pyint(0,10)
            )
            conn.execute(insert_stmt)

#  2éme question : Extraire l’ingrédient le plus utilisé dans chaque département de chaque pays

In [318]:
engine2 = db.create_engine('sqlite:///exercice.db')
connection2 = engine2.connect()
metadata2 = db.MetaData(engine2)

## 1er methode

In [319]:
with engine.begin() as connection:
    quantite_max = connection.execute(db.select([db.func.max(stock_table.c.quantite).label("max_ingredient"),stock_table.c.nom_ingredient, stock_table.c.code_postal, ]).group_by(stock_table.c.code_postal))
    
    df_quantite_max= pd.DataFrame(quantite_max)
df_quantite_max

In [320]:
df_quantite_max.to_sql(name='IngredientPays', con=engine2, if_exists = 'append', index=False)

## 2émé méthode

In [321]:
ingredient_pays_table = db.Table('IngredientPays', metadata2,
              db.Column('code_postal', db.String(), primary_key=True),
              db.Column('nom_ingredient', db.String()),
              db.Column('ingredient_max', db.Float()),
              )

metadata2.create_all(engine2)

In [323]:
with engine.begin() as connection:
    
    quantite_max = connection.execute(db.select([db.func.max(stock_table.c.quantite).label("max_ingredient"),stock_table.c.nom_ingredient, stock_table.c.code_postal, ]).group_by(stock_table.c.code_postal))
     
    for row in quantite_max:  
            with engine2.begin() as connection2:
                insert_stmt = ingredient_pays_table.insert().values(
                code_postal = row[2],
                nom_ingredient = row[1],
                ingredient_max = row[0]
        )        
                connection2.execute(insert_stmt)

In [ ]:
with engine.begin() as connection:
    quantite_max = connection.execute(with engine.begin() as connection:
    quantite_max = connection.execute(db.select([db.func.max(stock_table.c.quantite).label("max_ingredient"),stock_table.c.nom_ingredient, stock_table.c.code_postal, ]).group_by(stock_table.c.code_postal))
    
    df_quantite_max= pd.DataFrame(quantite_max)
df_quantite_max
    df_quantite_max= pd.DataFrame(quantite_max)
df_quantite_max

# Extraire le nombre d’employés dans chaque département de chaque pays (on suppose que le département correspond aux deux premiers termes du code postal)