In [742]:
import sqlalchemy as db
from faker import Faker
from faker_food import FoodProvider
import random as random

In [743]:
faker= Faker()
faker.add_provider(FoodProvider)

In [744]:
faker.name()

'Garrett Lewis'

In [745]:
list_pays=[]
for i in range(100):
   list_pays.append(faker.country())
print(list_pays)

['Botswana', 'Isle of Man', 'Tonga', 'Cocos (Keeling) Islands', 'Angola', 'French Polynesia', 'Somalia', 'Uruguay', 'Georgia', 'United States of America', 'Estonia', 'Turkmenistan', 'Cyprus', 'Niger', 'American Samoa', 'Mali', 'Macao', 'British Virgin Islands', 'Switzerland', 'Portugal', 'Switzerland', 'Moldova', 'India', 'Cuba', 'Macao', 'Bhutan', 'India', 'Jersey', 'Bahrain', 'Guadeloupe', 'Uganda', 'Saint Helena', 'Lesotho', 'United States Virgin Islands', 'Bangladesh', 'Bouvet Island (Bouvetoya)', 'Angola', 'Bosnia and Herzegovina', 'Sudan', 'Congo', 'Ethiopia', 'Russian Federation', 'British Indian Ocean Territory (Chagos Archipelago)', 'Mayotte', 'Argentina', 'Bolivia', 'Guam', 'Cook Islands', 'Ecuador', 'Palestinian Territory', 'Poland', 'Guadeloupe', 'Argentina', 'Jordan', 'Slovakia (Slovak Republic)', 'Lithuania', 'Jersey', 'Germany', 'Singapore', 'Mauritania', 'United States of America', 'Kiribati', 'Armenia', 'Macedonia', 'Algeria', 'Egypt', 'Malawi', 'Slovenia', 'Panama', 'Cayman Islands', 'Barbados', 'Guernsey', 'Saint Helena', 'Trinidad and Tobago', 'Italy', 'Azerbaijan', 'Kiribati', 'Cape Verde', 'Greenland', 'Angola', 'Gibraltar', 'Saudi Arabia', 'Grenada', 'Burundi', 'Nicaragua', 'Reunion', 'Liechtenstein', 'Zimbabwe', 'Germany', 'Tunisia', 'Azerbaijan', 'Jersey', 'Greenland', 'Ghana', "Lao People's Democratic Republic", 'Kyrgyz Republic', 'Guadeloupe', 'Antigua and Barbuda', 'Netherlands', 'Libyan Arab Jamahiriya']

In [746]:
faker.address()

'2835 Guerrero Union Suite 470\nJonesborough, ID 74673'

In [747]:
faker.text()

'Research TV buy same key admit. Serious live on week.\nProtect discover life understand drop social. Enough project professor significant.'

In [748]:
#fake.dish()
#fake.fruit()
#fake.spice()
#fake.vegetable()
#fake.ingredient()

In [749]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = db.create_engine("sqlite:///restaurant.db")

In [750]:
connection = engine.connect()
metadata = db.MetaData()

In [751]:


ingredient_table = db.Table('Ingredient', metadata,
              db.Column('nom_ingredient', db.String(), primary_key=True),
              db.Column('prix_achat', db.Float(), default=0.0),
              )

In [752]:


pays_table = db.Table('Pays', metadata,
              db.Column('pays', db.String(), primary_key=True),
              )

In [753]:


restaurant_table = db.Table('Restaurant', metadata,
              db.Column('code_postal', db.String(), primary_key=True),
              db.Column('parking', db.Integer(),nullable=False),
              db.Column('espace_enfant', db.Integer(),default=0),
              db.Column('pmr', db.Integer(),default=0),
              db.Column('borne', db.Integer(),default=0),
              db.Column('capacite', db.Integer(),default=0),
              db.Column('pays', db.String(), db.ForeignKey("Pays.pays"),nullable=False),
              )

In [754]:


stock_table = db.Table('Stock', metadata,
              db.Column('id_stock', db.Integer(),primary_key=True),
              db.Column('nom_ingredient', db.String(),db.ForeignKey("Ingredient.nom_ingredient"),nullable=False),
              db.Column('code_postal', db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
              db.Column('quantite', db.Integer(),default=0),
              )

In [755]:


item_table = db.Table('Item', metadata,
              db.Column('nom_item', db.String(),primary_key=True),
              db.Column('type', db.String(),nullable=False),
              db.Column('prix', db.Float(),default=0.00),
              )

In [756]:

carte_item_table = db.Table('CarteItem', metadata,
              db.Column('id_carte_item', db.Integer(),primary_key=True),
              db.Column('nom_item', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
              db.Column('pays', db.String(),db.ForeignKey("Pays.pays"),nullable=False),
              )

In [757]:
employes_table= db.Table ('Employes', metadata,
            db.Column('id_employes',db.Integer(),primary_key=True),
            db.Column('nom',db.String(),nullable=False),
            db.Column('role',db.String(),nullable=False),
            db.Column('id_superieur',db.Integer(),db.ForeignKey("Employes.id_employes")),
            db.Column('anciennete',db.Integer(),default=0),
            db.Column('compte_bancaire',db.Integer()),
            db.Column('note',db.Integer()),
            db.Column('adresse',db.String()),
            db.Column('code_postal',db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
            )

In [758]:
bulletin_paye_table = db.Table('BulletinPaye', metadata,
              db.Column('id_employes', db.Integer(),db.ForeignKey("Employes.id_employes"),primary_key=True),
              db.Column('date', db.String(),primary_key=True,nullable=False),
              db.Column('salaire', db.Float(),nullable=False),
               db.Column('poste', db.String(),nullable=False),
              )

In [759]:
recette_table = db.Table('Recette', metadata,
        db.Column('id_recette', db.Integer(),primary_key=True),
        db.Column('nom_item', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('nom_ingredient', db.String(),db.ForeignKey("Ingredient.nom_ingredient"),nullable=False),
        db.Column('quantite_ingredient', db.Integer(),default=0)
        )

In [760]:
menu_table = db.Table('Menu', metadata,
        db.Column('nom_menu', db.String(),primary_key=True),
        db.Column('plat', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('dessert', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('boisson', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
        db.Column('prix', db.Integer(),default=0.00)
        )

In [761]:
carte_menu_table = db.Table('CarteMenu', metadata,
              db.Column('id_carte_menu', db.Integer(),primary_key=True),
              db.Column('nom_menu', db.String(),db.ForeignKey("Item.nom_item"),nullable=False),
              db.Column('pays', db.String(),db.ForeignKey("Pays.pays"),nullable=False),
              )

In [762]:
addition_table = db.Table('Addition', metadata,
              db.Column('id_ticket', db.Integer(),primary_key=True),
              db.Column('heure', db.Integer(),nullable=False),
              db.Column('code_postal', db.String(),db.ForeignKey("Restaurant.code_postal"),nullable=False),
              db.Column('id_employes', db.String(),db.ForeignKey("Employes.id_employes"),nullable=False),
              db.Column('somme', db.REAL(),default=0),
              db.Column('moyen_paiment', db.String(),nullable=False),
              )

In [763]:
panier_item_table = db.Table('PanierItem', metadata,
              db.Column('id_ticket', db.Integer(),db.ForeignKey("Addition.id_ticket"),primary_key=True),
              db.Column('nom_item', db.Integer(),db.ForeignKey("Item.nom_item"),primary_key=True),
              db.Column('quantite_item', db.Integer(),default=0),
              )

In [764]:
panier_menu_table = db.Table('PanierMenu', metadata,
              db.Column('id_panier_menu', db.Integer(), primary_key=True),
              db.Column('id_ticket', db.Integer(),db.ForeignKey("Addition.id_ticket"),nullable=False),
              db.Column('nom_menu', db.Integer(),db.ForeignKey("Menu.nom_menu"),nullable=False),
              db.Column('quantite_menu', db.Integer(),default=0),
              )

In [765]:
metadata.create_all(engine)

In [766]:
list_pays=[]
with engine.begin() as connection:
    for _ in range(10):
      insert_stmt = pays_table.insert().values(
        pays= faker.country(),
       )
      connection.execute(insert_stmt)

In [767]:
with engine.begin() as connection:
  pays_pk = connection.execute(db.select([pays_table.c.pays])).fetchall()

with engine.begin() as connection:
     for i in range(50):
       aleatoire=random.randint(0,len(pays_pk)-1)
       insert_stmt = restaurant_table.insert().values(
         code_postal= random.randint(10000,99999),
         capacite= random.randint(30,100),
         parking= random.randint(0,1),
         espace_enfant= random.randint(0,1),
         pmr=random.randint(0,1),
         borne=random.randint(0,1),
         pays=pays_pk[aleatoire][0],
        )
       connection.execute(insert_stmt)

In [768]:
print(pays_pk)
print(random.choice(pays_pk))
print(pays_pk[1])
print(pays_pk[1][0])
print(pays_pk[aleatoire][0])
print()

[('New Zealand',), ("Cote d'Ivoire",), ('Latvia',), ('French Guiana',), ('Saint Barthelemy',), ('Congo',), ('Poland',), ('Saint Vincent and the Grenadines',), ('Nauru',), ('Brazil',)]
("Cote d'Ivoire",)
("Cote d'Ivoire",)
Cote d'Ivoire
Saint Vincent and the Grenadines

In [769]:
List_role=['manager','director','caissier','cuisinier']
List_employes=[]
for i in range(26):
    if i==0:
        List_employes.append(List_role[1])
    if i>0 and i<=3:
        List_employes.append(List_role[0])
    if i>4 and i<=17:
        List_employes.append(List_role[3])
    if i>16 :
        List_employes.append(List_role[2])
     
print(List_employes)

['director', 'manager', 'manager', 'manager', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'cuisinier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier', 'caissier']

In [770]:
with engine.begin() as connection:
  employes_pk = connection.execute(db.select([employes_table.c.pays])).fetchall()
e=0
with engine.begin() as connection:
    for i in range(26):
         
      insert_stmt = employes_table.insert().values(
        id_employes= i,
        nom= faker.name(),
        role=List_employes[i],
        id_superieur = i+1,
        anciennete= randint(0,10),
        compte_bancaire=randint(10000000,99999999),
        note=randint(0,10),
        adresse=faker.address(),
        code_postal=randint(10000,99999)
       
       )
      connection.execute(insert_stmt)

In [771]:
with engine.begin() as connection:
    for i in range(26):
      insert_stmt = bulletin_paye_table.insert().values(
        id_employes= i,
        date= faker.date(),
        salaire=randint(1200,2500),
        poste =List_employes[i],
       
       )
      connection.execute(insert_stmt)

In [772]:
with engine.begin() as connection:
    for i in range(26):
      insert_stmt = bulletin_paye_table.insert().values(
        id_employes= i,
        date= faker.date(),
        salaire=randint(1200,2500),
        poste =List_employes[i],
       
       )
      connection.execute(insert_stmt)